%h1 Games
- @games.each do |game|
  %div
    = link_to "#{game.name}", game
    %br
    = game.min_players
    = "-"
    = game.max_players
    Players
    %br
    Races:
    = game.races.map(&:name).join(', ')
    %br
    %br


  / # %td= link_to 'Edit', edit_game_path(game)
  / # %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }


%br
  = link_to 'New Game', new_game_path