.panel-heading Gry
.panel-body
  %table.table.table-striped
    %thead
      %tr
        %th Gra
        %th Liczba graczy
        %th Rasy
        %th
        %th
    %tbody
    - @games.each do |game|
      %tr
        %td= link_to "#{game.name}", game
        %td
          = game.min_players
          = "-"
          = game.max_players
        %td= game.races.map(&:name).join(', ')
        %td= link_to 'Zagraj!', new_play_path(game_id: game.id)
        %td= link_to 'Edytuj', edit_game_path(game)
        %td= link_to 'Usuń', game, method: :delete, data: { confirm: 'Czy jesteś pewny?' }


  %br
    = link_to 'Nowa gra', new_game_path