!!!
%html
  %head
    %title Games
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Latest compiled and minified CSS
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel: "stylesheet" }
    / Optional theme
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", rel: "stylesheet" }
    / Latest compiled and minified JavaScript
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" }
    = favicon_link_tag 'favicon.ico'
  %body
    = render 'layouts/navbar'
    %section.main.container
      .row
        .col-lg-12{:style => "min-height:640px;"}
          .panel.panel-default
            = yield